<!Doctype html>
<html>
<body>
    <a href="/"><button >home</button></a> 
     
 
    
  
    <h1>about:</h1>
    <p>inventory management system,provide the management process to the retailers and vendors.it helps to the retailers to buy the products</p>
</body>

</html>
<style>
    body{
        background-image: url(https://burst.shopifycdn.com/photos/mountain-magic-hour.jpg?width=373&format=pjpg&exif=1&iptc=1);
        background-position: cover;
        backface-visibility: visible;
        
    }
</style>