{% extends 'base2.html '%} {% block head %}
<title>Suppliers</title>
{% endblock%} {%block body%}
<h2>Suppliers</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
</p>
{% include 'table.html' %}
<div class="forms-wrapper">
  <form action="{{url_for('UpdateSupplier') }}" method="post">
    <h3>Update Supplier</h3>
    <div class="field">
      <label class="custom-label" for="name"> Enter Name</label>
      <input class="text-inputs" type="text" name="name" placeholder="Supplier name" />
    </div>
    <div class="field">
      <label for="input-field">Choose a field :</label>
      <select name="input-field" id="field">
        <option value="NAME">NAME</option>
        <option value="LOCATION">LOCATION</option>
      </select>
    </div>
    <div class="field">
      <label class="custom-label" for="input-value"> Enter Value</label>
      <input
        class="text-inputs"
        type="text"
        name="input-value"
        placeholder=" "
      />
    </div>
    <button class="submit-button">Update</button>
  </form>

  <form action="{{url_for('addSupplier') }}" method="post">
    <h3>Add New Supplier</h3>
    <div class="field">
      <label class="custom-label" for="name"> Enter the Supplier</label>
      <input class="text-inputs" name="name" type="text" placeholder="Supplier name" />
    </div>
    <div class="field">
      <label class="custom-label" for="quantity"> Enter Order ID : </label>
      <select name="order-id-select" id="field">
        {% for order_id in order_ids %}
          <option value="{{ order_id }}">{{order_id}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="field">
      <label class="custom-label" for="location"> Enter Location</label>
      <input class="text-inputs" type="text" name="location" placeholder="Location" />
    </div>
    <button class="submit-button">Add Stock</button>
  </form>
  <form action="{{url_for('deleteSupplier') }}" method="post">
    <h3>Delete Supplier</h3>
    <div class="field">
      <label class="custom-label" for="name"> Enter the name</label>
      <input class="text-inputs" name="name" type="text" placeholder="Supplier Name" />
    </div>
    <button class="submit-button red-button">Delete</button>
  </form>
</div>

{% endblock%}