<html>
    <head>
        <title>COSMETICS</title>
    </head>
    <body>
        <h1>COSMETICS</h1>
        <a href=""><button>HOME</button></a>
        <input type="text" name="" id="" placeholder="search">
        <a href=""><button>Search</button></a>
        <table>
            <tr>
                <td>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp6_oKcmTHFcKuC94gd5sbBVxB85TBbMEogA&usqp=CAU"alt="" width="200px" height="100px">   
                    <p>SOAP</p>
                    <p>PRICE 180</p>
                    <form>
                        <label for="username">QUANTITY</label><br>
    <input type="number"id="username"name="username"><br>
                </form>
                <a href="/signinpage">BUY NOW</a>
                </td>
                <td>
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/DA/BJ/HF/8456284/05-copy-500x500.JPG" alt="" width="200px" height="100px">
                    <p>SHAMPOO</p>
                    <p>PRICE 110</p>
                    <form>
                        <label for="username">QUANTITY</label><br>
    <input type="number"id="username"name="username"><br>
                </form>
                <a href="/signinpage">BUY NOW</a>
                </td>
                <td>
                    <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOM-XjoSwXpSzSqXBORRLDbnh60uEPWg2Cxg&usqp=CAU" alt="" width="200px" height="100px">
                    <p>DEODORANTS</p>
                    <p>PRICE 120</p>
                    <form>
                        <label for="username">QUANTITY</label><br>
    <input type="number"id="username"name="username"><br>
                </form>
                <a href="/signinpage">BUY NOW</a>
                </td>
                <td>
                    <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLfnvXf3kzDr8WP4zQwWH3To6f77CkdPzJVw&usqp=CAU" alt="" width="200px" height="100px">
                    <p>PERFUME</p>
                    <p>PRICE 140</p>
                    <form>
                        <label for="username">QUANTITY</label><br>
    <input type="number"id="username"name="username"><br>
                </form>
                <a href="/signinpage">BUY NOW</a>
                </td>
                <td>
                    <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzU05NDKvA9PoA03QWSuz5LEUg5aPqgF4K8Q&usqp=CAU" alt="" width="200px" height="100px">
                    <p>NAIL POLISH</p>
                    <p>PRICE 80</p>
                    <form>
                        <label for="username">QUANTITY</label><br>
    <input type="number"id="username"name="username"><br>
                </form>
                <a href="/signinpage">BUY NOW</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHtVQtF1FMAsbpuHSktmAi5n-hw-kIcACGfJuNI8Jw1xi3HxspQzTXpP-Vt8hslDcOaz4&usqp=CAU" alt="" width="200px" height="100px">
                    <p>EYE LINER</p>
                    <p>PRICE 90</p>
                    <form>
                        <label for="username">QUANTITY</label><br>
    <input type="number"id="username"name="username"><br>
                </form>
                <a href="/signinpage">BUY NOW</a> 
                </td>
                <td>
                    <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLt9BwM6-2_06P4rrzHoG04oWbO1YggU4_hg&usqp=CAU" alt="" width="200px" height="100px">
                    <p>COMB</p>
                    <p>PRICE 30</p>
                    <form>
                        <label for="username">QUANTITY</label><br>
    <input type="number"id="username"name="username"><br>
                </form>
                <a href="/signinpage">BUY NOW</a>
            </td>
            <td>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6IwGFFO-mTsqByoWtXOrXXZ8RebhpRJwKDQ&usqp=CAU" alt="" width="200px" height="100px">
                <p>EAR STUD</p>
                <p>PRICE 180</p>
                <form>
                    <label for="username">QUANTITY</label><br>
<input type="number"id="username"name="username"><br>
            </form>
            <a href="/signinpage">BUY NOW</a> 
                </td>
                <td>
                    <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFnYB_Ta1nbwmZxyETr0BJk-cJC7Vu6bcqbQ&usqp=CAU" alt="" width="200px" height="100px">
                    <p>SKIN CREAM</p>
                    <p>PRICE 250</p>
                    <form>
                        <label for="username">QUANTITY</label><br>
    <input type="number"id="username"name="username"><br>
                </form>
                <a href="/signinpage">BUY NOW</a>
                </td>
                <td>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe9YMnYpj4DNJ0kYP0S26hv7knm83KnlixfA&usqp=CAU" alt="" width="200px" height="100px">
                    <p>POWDER</p>
                    <p>PRICE 45</p>
                    <form>
                        <label for="username">QUANTITY</label><br>
    <input type="number"id="username"name="username"><br>
                </form>
                <a href="/signinpage">BUY NOW</a>
                </td>

                </tr>   
            </tr>
        </table> 
    </body>
</html>
<style>
    body {
        text-align: center;
        
        
    }
    body input{
        margin: 10px 10px;
        padding: 10px;
        width: 100px;
        background-color: azure;
    }
    body img{
        margin: 20px ;
        padding: 20px;
        background-color: black;
        text-align: center;
    }
    body p{
        padding: 1px;
        background-color: rgb(147, 165, 165);
        text-align: center;
        
    }
</style>