<html>
    <head>
        <title>fruits product</title>
        <link rel="stylesheet" href="https://cdn.vectorstock.com/i/1000x1000/87/16/shopping-design-sales-and-retail-icon-isolated-vector-9198716.webp">
    </head>
    <body>
        <i scr=""></i>
        <li scr="">FRUITS</li>
        <div id="button"><a href="/retail"><button>home</button></a></div>
        <div id="input"><input type="text" placeholder="search">
        <a href=""><button>search</button></a></div>

        
        
    <table>
        <div class="input">
        <tr>
            <td>
            <img src="https://media.istockphoto.com/photos/banana-picture-id1184345169?b=1&k=20&m=1184345169&s=612x612&w=0&h=V6J5_D-sxglthOxiZYkpeJ18ZrAZLXOIQKgiyyhJUGE=" alt="" width="200px" height="300px">
             <p>BANANA</p>
             <P>PRICE 10RS</P>
             <form>
                <label>QUANTITY</label><br>
                <input type="number">
            </br>
            </form>

            <a href="/signinpage">BUY NOW</a>
            </td>
             <td>
                <img src="https://thumbs.dreamstime.com/b/red-apple-isolated-clipping-path-19130134.jpg" alt="" width="200px" height="300px">
                <P>APPLE</P>
                 <p>PRICE 50RS</p>
                 <form>
                    <label>QUANTITY</label><br>
                    <input type="number">
                </br>
                </form>

                <a href="/signinpage">BUY NOW</a> 
                 </td>
                 <td>
                    <img src="https://media.istockphoto.com/id/1227301369/photo/whole-cross-section-and-quarter-of-fresh-organic-navel-orange-with-leaves-in-perfect-shape-on.jpg?b=1&s=170667a&w=0&k=20&c=uimgulwrNTf72rAbIOdLvObEgsJSZoCqWm9Qxojjl7Q=" alt="" width="200px" height="300px">
                     <p>ORANGE</p>
                     <P>PRICE 20RS</P>
                     <form>
                        <label>QUANTITY</label><br>
                        <input type="number">
                    </br>
                    </form>

                    <a href="/signinpage">BUY NOW</a>
                     </td>
                     
                     
                     <td>
                        <img src="https://thumbs.dreamstime.com/b/isolated-green-guava-pink-flesh-one-whole-fruit-half-white-background-clipping-path-173876537.jpg" alt="" width="200px" height="300px">
                        <P>GUAVA</P>
                         <p>PRICE 30RS</p>
                         <form>
                            <label>QUANTITY</label><br>
                            <input type="number">
                        </br>
                        </form>
    
                        <a href="/signinpage">BUY NOW</a>
                         </td>
                         </tr>
                         <tr>
                         <td>
                            <img src="https://images.all-free-download.com/images/graphiclarge/table_grapes_grapes_fruit_214430.jpg" alt="" width="200px" height="300px">
                             <p>GRAPES</p>
                             <P>PRICE 50RS</P>
                             <form>
                                <label>QUANTITY</label><br>
                                <input type="number">
                            </br>
                            </form>
        
                            <a href="/signinpage">BUY NOW</a>
                            </td>
                            <td>
                            <img src="https://media.istockphoto.com/id/1064819674/photo/whole-with-slice-ripe-pineapple-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=I8BF1t5J7tVGGrWvZs8LQJLoxgIhIVWVY9KSMt8QR0M=" alt="" width="200px" height="300px">
                             <p>PINEAPPLE</p>
                             <P>PRICE 50RS</P>
                             <form>
                                <label>QUANTITY</label><br>
                                <input type="number">
                            </br>
                            </form>
        
                            <a href="/signinpage">BUY NOW</a>
                            </td>
                            <td>
                                <img src="https://media.istockphoto.com/id/1131704553/photo/whole-and-slices-watermelon-with-green-leaves-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=TbTfOo26HY63ItmA-a233n6G4kekBVmYv6a5z4dNBQc=" alt="" width="200px" height="300px">
                            <p>WATER MELON</p>
                            <P>PRICE 50RS</P>
                            <form>
                                <label>QUANTITY</label><br>
                                <input type="number">
                            </br>
                            </form>
        
                            <a href="/signinpage">BUY NOW</a>
                            </td>
                            <td>
                                <img src="https://thumbs.dreamstime.com/b/mango-ripe-white-background-35283521.jpg" alt="" width="200px" height="300px">
                            <p>MANGO</p>
                            <P>PRICE 50RS</P>
                            <form>
                                <label>QUANTITY</label><br>
                                <input type="number">
                            </br>
                            </form>
        
                            <a href="/signinpage">BUY NOW</a>

        </tr>
    </div>
    </table>
    </body>
</html>
<style>
    body{
        background-color: aquamarine;
        border-color: black;
        text-align: center;
        size: 20px 30px;
        margin: 20px 30px ;
        width: 300px 200px;
        font-size: xx-large;
        

    }
    #button{
        text-align: left;
    }
    body input{
        width: 300px;
        padding: 10px;
        background-color: rgb(161, 161, 161);
        
    }
    
        
        
    
        
    
    #mango{
        background-color: black;
    }
    
    
        
    
    body img{
        margin: 20px 30px;
        padding: 2px 3px;
        background-color: black;
    }
    
        
    
</style>